{
    "Token": "telegram_token",
    "Medium": "medium",
    "ChatID": ChatID <int64>
    "Site":{
	"Login": "user_login",
	"Password": "user_password",
	"Domain": "domain your site",
	"URL": "http://domain.com/wp-json/wp/v2/posts/"
    }
}
